*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

body {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 5%);
}

.text-center {
    text-align: center;
    align-items: center;
    /* This is possibly the worst css I have ever wrote */
}

.icon {
    padding: .9rem 1rem;
    border-radius: 100vh;
    position: absolute;
    width: auto;
    height: auto;
    background-color: hsl(213, 19%, 18%);
    top: 1.7rem;
    left: 1.7rem;
    display: flex;
    place-content: center;
    place-items: center;
}

.rating-box {
    position: relative;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    color: hsl(0, 0%, 100%);
    background: 
        linear-gradient(hsl(216, 12%, 10%), hsl(216, 12%, 8%))
    ;
    justify-content: space-between;
}

.rating-box h1 {
    padding: 0;
    margin: 0;
    margin-top: 5rem;
}

.rating-box p {
    color: hsl(217, 12%, 63%);
    word-spacing: .2rem;
    line-height: 1.5rem;
}

.test {
    background-color: red;
}

.hidden {
    display: none;
}

#options {
    display: flex;
    justify-content: space-between;
}

:where(#options button) {
    background-color: hsl(213, 19%, 18%);
    border: none;
    height: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 100vh;
    font-size: 1.1rem;
    color: hsl(216, 12%, 54%);
    transition: 75ms ease-out;
}

:where(#options button:hover) {
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.active {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.submit {
    border: none;
    color: white;
    background-color: hsl(25, 97%, 53%);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 100vh;
    letter-spacing: 4px;
    transition: 75ms ease-in-out;
    font-weight: 700;
}

.active:hover {
    background-color: hsl(25, 97%, 57%)
}

.submit:hover {
    background-color: hsl(25, 97%, 57%)
}

#error {
    color: red;
    text-align: center;
}

#result-text {
    border-radius: 100vh;
    background-color: hsl(213, 19%, 18%);
    padding: .5rem 1rem;
    width: max-content;
    color: hsl(25, 97%, 53%);
}

#result:last-child {
    margin-bottom: 5rem;
}

#result h2 {
    margin-bottom: 0;
}